<p id="notice"><%= notice %></p>

<p>
  <strong>Business:</strong>
  <%= @client_error.business %>
</p>

<p>
  <strong>Errors:</strong>
  <%= @client_error.errors %>
</p>

<p>
  <strong>Time:</strong>
  <%= @client_error.time %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @client_error.detail %>
</p>

<%= link_to 'Edit', edit_client_error_path(@client_error) %> |
<%= link_to 'Back', client_errors_path %>
