<%= form_for(@machine_status) do |f| %>
  <% if @machine_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine_status.errors.count, "error") %> prohibited this machine_status from being saved:</h2>

      <ul>
      <% @machine_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :cpu_usage %><br>
    <%= f.text_field :cpu_usage %>
  </div>
  <div class="field">
    <%= f.label :disk_io_rate %><br>
    <%= f.text_field :disk_io_rate %>
  </div>
  <div class="field">
    <%= f.label :load %><br>
    <%= f.text_field :load %>
  </div>
  <div class="field">
    <%= f.label :tcp_connection %><br>
    <%= f.number_field :tcp_connection %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
